@import '../../styles/global';

.ui.game-buttons-card {
  .game-button {
    padding: 1em 2em;
    margin: 0.5em;
    background-color: $primary-colour;
    color: white;
    width: fit-content;
  }
}
