.app {
  height: 100%;
  background-color: var(--bg-colour);
  color: var(--text-colour);

  // breakpoints
  --mobile-max-width: 768px;

  // colours
  --bg-colour: #FCFCFC;
  --primary-colour: #7234EE;
  --secondary-colour: #A0A0A0;
  --text-colour: #000000;

  &.dark {
    --primary-colour: red;
  }
}

.main-footer {
  position: absolute;
  width: 100%;
  padding: 1em 0;
  bottom: 0;
  color: --secondary-colour;
  text-align: center;

  @media (max-width: --mobile-max-width) {
    position: static;
  }

  a {
    color: --primary-colour;
  }
}
