.landing-page {
    display: flex;
    flex-direction: column;

    .ui.main-header {
        margin-top: 16vh;
        font-size: 8em;
        color: var(--primary-colour);

        @media (max-width: var(--mobile-max-width)) {
            margin-top: 5vh;
        }
    }

    .dark-mode-toggle-container {
        margin: 1em 0 0 1em;
    }

    .form-element {
        margin: 1em 0;
    }

    .form-input {
        width: 24em;
    }

    .enter-game-button {
        padding: 1em 2em;
        background-color: var(--primary-colour);
        color: white;
        width: fit-content;
    }
}
