@import '../../styles/global';

.ui.game-page {
  margin-top: 2em;

  @media (max-width: $mobile-max-width) {
    font-size: 0.8em;

    h1 {
      font-size: 1.5em;
      margin: 0.5em auto;
    }

    h3 {
      font-size: 1.125em;
      margin: 0.5em auto;
    }

    h4 {
      font-size: 1em;
    }
  }

  h1 {
    color: var(--primary-colour);
  }

  h4 {
    margin: 0.5em;
  }

  .card {
    background-color: var(--bg-colour-2);
    box-shadow: none;

    .content {
      border-top: 2px solid var(--bg-colour-3);
    }
  }
}

.dark-mode-toggle-container {
  padding: 1em 0 0 1em;
  display: flex;
  gap: 1em;
}
